<div id="wrapper">
  <div class="section" id="page1">
    <img class="tenEighty" src="images/fullPage/sailing1.jpg" alt="">
  </div>
  <div class="section" >
    <div id="page2"></div>
    <img class="tenEighty" src="images/fullPage/sailing2.jpg" alt="">
  </div>
  <div class="section" id="page3">
    <div class="slide">
      <img class="tenEighty" src="images/fullPage/sailing3.jpg" alt="">
    </div>
    <div class="slide">
      <img class="tenEighty" src="images/fullPage/sailing6.jpg" alt="">
    </div>
    <div class="slide">
      <img class="tenEighty" src="images/fullPage/sailing7.jpg" alt="">
    </div>
  </div>
  <div class="section" id="page4">
    <img class="tenEighty" src="images/fullPage/sailing4.jpg" alt="">
  </div>
  <div class="section" id="page5">
    <img class="tenEighty" src="images/fullPage/sailing5.jpg" alt="">
  </div>
</div>
