<div id="wrapper" class="bgimg">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-md-auto col-md-offset-2">
      <div class="twPc-div ">
        <a class="twPc-bg twPc-block"></a>
        <div class="twPc-button">

          <a href="images/Rick_Van_Resume.pdf" class="btn btn-social-icon btn-twitter" target="_blank">
            <button class="btn btn-primary btn-twitter" type="button" name="button">
              <span class="fa fa-twitter"></span>
              Resume
            </button>
          </a>
          <!-- Twitter Button -->
          </div>
        <div class="twPc-avatarLink">
          <img class="icon"src="images/dsc.JPG" alt="">
        </div>
        <div class="twPc-divUser">
          <div class="twPc-divName">
            <a href="https://github.com/vanrick">Rick Van</a>
          </div>
          <span>
            <a href="tel:17205880633">@<span>rickvan</span></a>
          </span>
        </div>
        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <a href="mailto:xrickvan@gmail.com" title="9.840 Tweet">
                <span class="twPc-StatLabel twPc-block">Email</span>
                <span class="twPc-StatValue">xrickvan@gmail.com</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="https://www.linkedin.com/in/vanrick" title="885 Following">
                <span class="twPc-StatLabel twPc-block">LinkedIn</span>
                <span class="twPc-StatValue">linkedin.com/in/vanrick</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="https://github.com/vanrick" title="1.810 Followers">
                <span class="twPc-StatLabel twPc-block">GitHub</span>
                <span class="twPc-StatValue">github.com/vanrick</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-md-auto col-md-offset-4">
    <h2 class="font1">Coming Soon</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-md-auto col-md-offset-4">
      <h2 class="font1">{{view.schedule}}</h2>
    </div>
  </div>
</div>
</div>
