<div id="wrapper" class='first_body' a name = 'home1'>
  <div id="page-1"></div>
  <div class='col-lg-8 col-lg-offset-2'>
    <div class="page-header row">
        <img class='logo col-md-4 col-sm-4 col-xs-4 col-md-offset-4' src="images/real logo.png" alt="" />
        <h1  class="yellow col-md-4">rick van</h1>
        <h3 class="yellow col-md-6 col-md-offset-4">front end web developer / technology geek</h3>
    </div>

    <div class="row">
     <div class="contact_info col-md-4">
       <br>
       <div id='' class="col-md-4 col-sm-12 logoStash">
        <img src="images/dsc.jpg" class="img-rounded img-responsive" alt="Cinque Terre">
       </div>
       <div id='' class="col-md-4 contactText">
        <p><img class='small' src="images/131155.png" alt="" /> xrickvan@gmail.com </p>
        <p><img class='small' src="images/117959.png" alt="" /> rickvan.tech </p>
        <p><img class='small' src="images/37368.png" alt="" /> /in/vanrick </p>
        <p><img class='small' src="images/github.png" alt="" /> /vanrick </p>
        <p><img class='small' src="images/181825.png" alt="" /> 303.931.1881 </p>
        <p><img class='small' src="images/location.svg" alt="" /> Denver CO </p>
        <div class="clickable_icons">
          <a href="https://github.com/vanrick"><img class='small' src="images/gold-github-512.png" alt="" /></a>
          <a href="#"><img class='small' src="images/icon-facebook.png" alt="" /></a>
          <a href="https://www.linkedin.com/in/vanrick
          "><img class='small' src="images/logo.svg" alt="" /></a>
          <a href="mailto:xrickvan@gmail.com
          "><img class='small' src="images/mail.png" alt="" /></a>
        </div>
       </div>
     </div>
    </div>
  </div>
</div>

<div id="wrapper" class="second_body" >
<div id="page-2"></div>

<h1 class="col-md-offset-5"><img src="images/about_me.png" alt="" /></h1>
<div class="container-fluid bg-2 col-md-6 col-md-offset-2">
  <h2>Hello! I’m Rick Van.</h2>
    <h4>
    My experience ranges from every stages of the development progression
    for dynamic web projects. Presently I work with a lot of HTML/CSS, JavaScript,
    jQuery, and AngularJS on the front end of development.  With the backend I use Express, Node.js, and PostgreSQL.
    I’ve recently started studying ReactJS framework and looking into Angular 2. I have a lot of experience working
    in a business office setting and harvested valuable skills such as communication, leadership, and teamwork.
    The most important attribute that I use the most is knowledge. I love learning new things and I have better oneself mentality.
  </h4>
</div>

</div>

<div class="third_body">
<div id="page-3"></div>

<div class="hh1">
  <h1>My projects <img src="images/myprojects.png" alt="" /></h1>
</div>
<div class="horizontal">
    <div class="table">
        <article>
            <h3>Snippetto</h3>
            <a href=""><p><img class='img-rounded img-responsive' src="images/snipz_walkthrough.gif" alt="" /></p></a>
            <p></p>
        </article>
        <!-- Repeat this part as many times as necessary. -->
        <article>
            <h3>Upscale Nails</h3>
            <a href=""><p><img class='img-rounded img-responsive' src="images/upscale_walkthru.gif" alt="" /></p></a>
            <p></p>
        </article>
        <article>
            <h3>Bacon and more Bacon</h3>
            <a href=""><p><img class='img-rounded img-responsive' src="images/bacon_walkthru.gif" alt="" /></p></a>
            <p></p>
        </article>
        <article>
            <h3>Fantasy Football Lineup</h3>
            <p></p>
            <p></p>
        </article>
        <article>
            <h3>Pokemon Gotta Catch em All</h3>
            <p></p>
            <p></p>
        </article>
    </div>
</div>
</div>

<div id="wrapper" class="fourth_body">
<div id="page-4"></div>
<div class="col-md-offset-8 yellow">
  <h1><img src="images/grad.png" alt="" />Education</h1>

</div>
<div class="college col-md-4">
  <h2>Community College of Denver</h2>
  <p>
    General studies, focused on radiology and computer engineering.
  </p>
  <h4>2006</h4>
</div>
<div class="college2 col-md-4">
  <h2>Metrostate University</h2>
  <p>
   Worked full time to help family pay bills while taking on full class schedule & graduated
   with a Bachelors of Science in Business Management.
  </p>
  <h4>2011</h4>
</div>
<div class="college3 col-md-4">
  <h2>Galvanize</h2>
  <p>
    Intensive program with 1000+ hours of coursework
    focused on the latest web technologies, TDD, and
    agile methods.
  </p>
  <h4>2016</h4>
</div>
</div>

<div id="wrapper" class="fifth_body">
<div id="page-5"></div>

<div class="row">

<div class="skillz col-md-4">
  <h1 class="col-md-offset-9 yellow">Skills</h1>
  <img class="col-md-offset-9" src="images/coding.png" alt="" width="304" height="236"/>
</div>

<div class="skillz-box col-lg-8">

  <!-- <h1>jQuery & CSS3 Skills Bar</h1> -->

  <div class="skillbar clearfix " data-percent="85%">
  	<div class="skillbar-title" style="background: #d35400;"><span>HTML5/CSS3</span></div>
  	<div class="skillbar-bar" style="background: #e67e22;"></div>
  	<div class="skill-bar-percent">85%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
  	<div class="skillbar-title" style="background: #2980b9;"><span>JavaScript</span></div>
  	<div class="skillbar-bar" style="background: #3498db;"></div>
  	<div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="65%">
  	<div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
  	<div class="skillbar-bar" style="background: #2c3e50;"></div>
  	<div class="skill-bar-percent">65%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
  	<div class="skillbar-title" style="background: #46465e;"><span>Node.js+Express</span></div>
  	<div class="skillbar-bar" style="background: #5a68a5;"></div>
  	<div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
  	<div class="skillbar-title" style="background: #333333;"><span>AngularJS</span></div>
  	<div class="skillbar-bar" style="background: #525252;"></div>
  	<div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="60%">
  	<div class="skillbar-title" style="background: #27ae60;"><span>PostgreSQL</span></div>
  	<div class="skillbar-bar" style="background: #2ecc71;"></div>
  	<div class="skill-bar-percent">60%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="70%">
  	<div class="skillbar-title" style="background: #124e8c;"><span>Mocha/Chai</span></div>
  	<div class="skillbar-bar" style="background: #4288d0;"></div>
  	<div class="skill-bar-percent">70%</div>
  </div><!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
    <div class="skillbar-title" style="background: #00c3e6;"><span>Bootstrap,Materialize</span></div>
    <div class="skillbar-bar" style="background: #4288d0;"></div>
    <div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="80%">
    <div class="skillbar-title" style="background: #66cdaa;"><span>Git+Github</span></div>
    <div class="skillbar-bar" style="background: #96cab4;"></div>
    <div class="skill-bar-percent">80%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="70%">
    <div class="skillbar-title" style="background: #6b8e23;"><span>CLI/UNIX</span></div>
    <div class="skillbar-bar" style="background: #bad877;"></div>
    <div class="skill-bar-percent">70%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="60%">
    <div class="skillbar-title" style="background: #D5AD45;"><span>React.js</span></div>
    <div class="skillbar-bar" style="background: #D3A840;"></div>
    <div class="skill-bar-percent">60%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="80%">
    <div class="skillbar-title" style="background: #544596;"><span>Heroku,Firebase</span></div>
    <div class="skillbar-bar" style="background: #c7a0d2;"></div>
    <div class="skill-bar-percent">80%</div>
  </div> <!-- End Skill Bar -->

  <div class="skillbar clearfix " data-percent="75%">
    <div class="skillbar-title" style="background: #21040a;"><span>Knex.js</span></div>
    <div class="skillbar-bar" style="background: #f8f8ff;"></div>
    <div class="skill-bar-percent">75%</div>
  </div> <!-- End Skill Bar -->

</div>
</div>
</div>

<div id="wrapper" class="sixth_body">
<div id="page-6"></div>
<div id="parent">
    <div id='up' class="col-md-4">
    <h1 class="">Interest</h1>
    </div>
    <div id='down' class="col-md-4">
      <h4>
        <p>
          Outside of the development field, I'm a very outgoing guy. I like to play basketball, go to church and
          read up on the newest gadgets. I bleed orange and blue, I'm a very big Denver Broncos fan. Everyday I feel
          very bless to have a chance to potentially do what I love. A lot of people don't have this
          type of opportunity therefore I treat everyday like it's a gift and make sure I
          stay postive and help whomever I can. I love sports, especially the life lessons
          that sports can convey. Adversity, naysayers, and mistakes will happen in sports
          as is life. How you grow and learn from them will set you apart. As long as we
          stay positive I believe we can achieve anything.
        </p>
      </h4>
    </div>


  <div id='up2' class="col-md-4">
  <h1 class="">Experience</h1>
  </div>
  <div id='down2' class="col-md-4">
    <h3>
      Operations Manager at Sun Nails
    </h3>
    <h4>
      <p>Upkeep financial structure of spa including deposits, payroll, and budgets</p>
      <p>Source high-end and trending supplies for spa inventory</p>
    </h4>
    <h3>
      USBank Personal banker
    </h3>
    <h4>
      <p>Exceeding sales and customer service performance score card goals every month including ranking in the top 10% all bankers across the Us banks sites</p>
      <p>Accountable for building 70+ product pipeline a month</p>
    </h4>
  </div>
</div>
</div>

<div id="wrapper" class="seventh_body">
<div id="page-7"></div>
<div class=""><img src="images/testi.png" alt="" /></div>
<div class="horizontal">
    <div class="table">
        <article>
          <h3>Vince</h3>
          <img src="http://placekitten.com/g/200/200" alt="..." class="img-circle">
            <u><h4>Web Designer/Front End Dev</h4></u>
              <h5 id='prof-font'>
                My experience ranges from every stages of the development progression
                for dynamic web projects. Presently I work with a lot of HTML/CSS, JavaScript,
                jQuery, and AngularJS on the front end of development.
              </h5>
        </article>
        <article>
            <h3>Sarah</h3>
            <img src="http://placekitten.com/g/200/200" alt="..." class="img-circle">
            <u><h4>Web Designer/Front End Dev</h4></u>
              <h5 id='prof-font'>
                My experience ranges from every stages of the development progression
                for dynamic web projects. Presently I work with a lot of HTML/CSS, JavaScript,
                jQuery, and AngularJS on the front end of development.
              </h5>
        </article>
        <article>
            <h3>Moose Mike</h3>
            <img src="http://placekitten.com/g/200/200" alt="..." class="img-circle">
            <u><h4>Web Designer/Front End Dev</h4></u>
              <h5 id='prof-font'>
                My experience ranges from every stages of the development progression
                for dynamic web projects. Presently I work with a lot of HTML/CSS, JavaScript,
                jQuery, and AngularJS on the front end of development.
              </h5>
        </article>
        <article>
            <h3>Jonathon</h3>
            <img src="http://placekitten.com/g/200/200" alt="..." class="img-circle">
            <u><h4>Web Designer/Front End Dev</h4></u>
              <h5 id='prof-font'>
                My experience ranges from every stages of the development progression
                for dynamic web projects. Presently I work with a lot of HTML/CSS, JavaScript,
                jQuery, and AngularJS on the front end of development.
              </h5>
        </article>
        <article>
            <h3></h3>
        </article>
    </div>
</div>
<a class="btn btn-primary btn-xlg col-md-offset-5" href="mailto:xrickvan@gmail.com">
  Contact me<span class="glyphicon glyphicon-envelope" style="padding-left:10px; padding-right:10px;"></span>
</a>
</div>
